.SelectCategory{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
    padding: 50px;
    display: flex;
    padding-bottom: 30px;
}


/* Left side */
.SelectCategory .leftSide{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Roboto', sans-serif;
}

.appName{
    color: rgba(114, 219, 115, 1);
    font-family: 'Single Day', cursive;
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 30px;
}

.SelectCategory .caption{
    font-size: 2.5rem;
    font-weight: 700;
    width: 62%;
    line-height: 140%;
}


.selectedCategoryList{
    display: flex;
    gap: 12px 20px;
    width: 300px;
    flex-wrap: wrap;
}
.selectedCategory{
    background-color: rgba(20, 138, 8, 1);
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    width: 110px;
    padding: 6px 14px;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}
.deselectButton{
    color: rgba(8, 92, 0, 1);
    cursor: pointer;
}

.minimumError{
    color: rgba(255, 0, 0, 1);
    font-size: 0.9rem;
}
.minimumError img{
    width: 20px;
    margin-right: 10px;
}


/* Right side */
.SelectCategory .rightSide{
    width: 55%;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categoryList{
    width: 100%;
    height: 87%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 31.3%;
    gap: 3%;
}

.nextPageButton{
    background-color: rgba(20, 138, 8, 1);
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: 'DM Sans', sans-serif;
    width: 110px;
    padding: 6px 14px;
    border: none;
    border-radius: 50px;
    color: white;
    align-self: flex-end;
    cursor: pointer;
}
.nextPageButton:active{
    background-color: rgba(20, 138, 8, 0.8);
}