.WeatherCard{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(16, 23, 68, 1);
}

.dateAndTime_container{
    background-color: rgba(255, 74, 222, 1);
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 0;
}

.weather{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    padding: 3px 0;
    align-items: center;
}
.weather hr{
    height: 40%;
}

.conditionIcon{
    width: 40px;
}
.pressureIcon{
    transform: scale(0.4);
}
.windIcon{
    transform: scale(0.4);
}
.humidityIcon{
    transform: scale(0.4);
    margin: auto;
}

.condition{
    font-size: 0.7rem;
    text-align: center;
}

.temperature{
    font-size: 1.5rem;
}

.pressure, .windspeed, .humidity{
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    line-height: 120%;
}

.left, .middle, .right{
    display: flex;
    flex-direction: column;
    align-items: center;
}